body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f08e80;
    height: 90vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 24px 32px;
}

.navbar ul,
.navbar li {
    display: inline-block;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 1.2rem;
}

.navbar p {
    font-size: 2rem;
    font-weight: 700;
}

.navbar .contact {
    color: #f08e80;
    background-color: white;
    padding: 16px 24px;
    font-size: 1.2rem;
    border-style: none;
}

.navbar .contact:hover {
    background-color: rgb(230, 230, 230);
}
